@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
body
{
    font-family: Raleway, sans-serif;
    margin: 0;
    padding: 0;
}

a
{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/*header*/
header
{
    display: flex;
    justify-content: space-between;
    margin: 20px 10% 25px 10%;

}

nav ul
{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-right: 26px;
    padding-left: 0;
    width: 300px;
}

header li a
{
    padding: 0px 15px 0px 15px
}
/*pseudo-classe*/
.anchor-hosting a:visited, .anchor-activity a:visited, .link-registration:visited
{
    color: #DEEBFF;
}
.anchor-hosting a:hover, .anchor-activity a:hover
{
    border-top: 3px solid #0065FC;
    color: #0065FC;
    padding-top: 33px;
}
.anchor-hosting:active, .anchor-activity:active, .link-registration:active
{
    font-size: 18px;
}

/*pseudo-classe*/
/*header*/

/*main-page*/
/*first-container*/
.search-title h1
{
    margin-bottom: 1px;
}

.search-title p
{
    margin-top: 2px;
}

/*search-bar*/
#search-bar
{
    display: inline-flex;
}

.search-bar-icon
{
    background-color: #F2F2F2;
    padding: 10px 15px;
    border-radius: 25% 0 0 25%;
}

#search
{
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    width: 200px;
    padding: 0 15px;
    font-weight: bold;
}

button
{
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius: 0 12px 12px 0;
    width: 100px;
}

.search-icon
{
    font-size: 0px;
}
/*search-bar*/

/*filter*/
.first-container
{
    margin: 0 10% 0 10%;
}
.filter-container
{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

h2
{
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.filter
{
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    margin-right: 30px;
}

.first-filter-icon
{
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 100%;
    padding: 16px 15px;
    margin: -2px;
}

.second-filter-icon
{
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 100%;
    padding: 14px 16px;
    margin: -2px;
}

.filter-icon
{
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 100%;
    padding: 14px 15px;
    margin: -2px;
}

.filter-title
{
    margin: 0 10px;
    font-weight: bold;
}

.filter-info
{
    display: flex;
    align-items: center;
    margin: 10px 0 15px 0;
}

.info-icon
{
    border: solid 1px #d9d9d9;
    color: #0065FC;
    padding: 10px 15px;
    border-radius: 100%;
    margin-right: 10px;
}
/*filter*/
/*first-container*/

/*second-container*/
.second-container
{
    display: flex;
    justify-content: space-between;
    margin: 0 10% 0 10%;
}

/*hosting*/
.hosting-container
{
    background-color: #F2F2F2;
    border-radius: 15px;
    height: 750px;
    width: 65%;
}

.hosting-title
{
    margin-left: 30px;
    margin-top: 30px;
}

.hosting-grid
{
    background-color: #F2F2F2;
}

.hosting-card
{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 15px;
}

.hosting-card-figure
{
    width: 30%;
    margin: 0px 0px 20px 0px ;
    background-color: white;
    padding: 6px;
    border-radius: 15px;
    box-shadow: 0 0 20px #A9A9A9;
}

.hosting-grid img
{
    height: 180px;
    width: 100%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.hosting-card-title
{
    margin: 4px 12px 0px 12px;
}

.hosting-price
{
    margin: 4px 12px 4px 12px;
}

.hosting-card-stats
{
    margin: 0px 12px 4px 12px;
    color:#0065FC;
}

.show-more-link
{
    margin: 30px 0px 30px 50px;
}
.show-more
{
    font-weight: bold;
    font-size: 18px;
}
/*hosting*/

/*most-popular*/
.most-popular-container
{
    background-color: #F2F2F2;
    border-radius: 15px;
    margin-left: 40px;
    width: 30%;
}

.most-popular-title
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 30px 0px 30px;
}

.popular-card
{
    border-radius: 15px 15px 15px 15px;
    margin: 10px;
}

.popular-card-figure
{
    background-color: white;
    border-radius: 15px;
    margin: 26px 0px 0px 14px ;
    padding: 7px;
    display: flex;
    height: 180px;
    width: 90%;
    box-shadow: 0 0 20px #A9A9A9;
}


.popular-card-figure img
{
    width: 45%;
    object-fit: cover;
    border-radius: 15px 0px 0px 15px;
}

.popular-card-title
{
    margin: 4px 12px 0 12px;
}

.popular-price
{
    margin: 4px 12px 4px 12px;
}

.popular-card-stats
{
    margin: 80px 12px 4px 12px;
    color: #0065FC;
}

/*most-popular*/
/*second-container*/

/*third-container*/
.third-container
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    height: 780px;
    margin: 20px 10% 60px 10%;
}

.activity-title
{
    grid-column: 1/-1;
    margin-left: 40px;
}

.item
{
    height: 75%;
    border-radius: 15px 15px 15px 15px;
    margin: 0px;
    box-shadow: 0 0 20px #A9A9A9;
}

.item img
{
    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.title-activity-card
{
    margin: 20px 24px;
}

.first-column .first-item
{
    height: 45%;
    margin: 0px 0px 30px 0px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 0 20px #A9A9A9;
}

.first-column .first-item img
{
    width: 100%;
    height: 85%;
    object-fit: cover;
    border-radius: 15px 15px 0 0
}

.first-column .second-item
{
    height: 27%;
    margin: 0px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 0 20px #A9A9A9;
}

.first-column .second-item img
{
    width: 100%;
    height: 71%;
    object-fit: cover;
    border-radius: 15px 15px 0 0
}

.second-column .first-item
{
    height: 34%;
    margin: 0px 0px 30px 0px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 0 20px #A9A9A9;
}

.second-column .first-item img
{
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 15px 15px 0 0 
}
.second-column .second-item
{
    height: 38%;
    margin: 0px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 0 20px #A9A9A9;
}

.second-column .second-item img
{
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 15px 15px 0 0
}
/*third-container*/
/*main-page*/

/*footer*/
footer
{
    background-color: #F2F2F2;
}

.footer-container
{
    display: flex;
    margin-left: 120px;
    margin-right: 80px;
}

.footer-container ul
{
    list-style: none;
}

.footer-about
{
    width: 30%;
    padding: 30px 30px;
}

.footer-about-title
{
    margin: 40px 10px 8px 40px;;
}

.list-about
{
    list-style: none;
    line-height: 30px;
    width: 250px;
}

.footer-hosting
{
    width: 30%;
    padding: 30px 30px;
}

.footer-hosting-title
{
    margin: 40px 10px 8px 40px;
}

.list-hosting
{
    list-style: none;
    line-height: 30px;
    width: 250px;
}

.footer-assistance
{
    width: 30%;
    padding: 30px 30px;
}

.footer-assistance-title
{
    margin: 40px 10px 8px 40px;
}

.list-assistance
{
    list-style: none;
    line-height: 30px;
    width: 250px;
}
/*footer*/

@media screen and (min-width: 320px) and (max-width: 424px)
{
    body
    {
        font-family: Raleway, sans-serif;
        margin: 0;
        padding: 0;
    }
    
    a
    {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    
    /*header*/
    header
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    header img
    {
        width: 80%;
        margin-left: 32px;
    }
    
    nav ul
    {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding-right: 26px;
        padding-left: 0;
        width: 100px;
    }

    header li a 
    {
        font-size: 15px;
    }

    /*pseudo-classe*/
    .anchor-hosting a:visited, .anchor-activity a:visited, .link-registration:visited
    {
        color: #DEEBFF;
    }

    .anchor-hosting a:hover, .anchor-activity a:hover
    {
        border-bottom: 3px solid #0065FC;
        color: #0065FC;
    }

    .anchor-hosting:active, .anchor-activity:active, .link-registration:active
    {
        font-size: 18px;
    }
    /*pseudo-classe*/
    /*header*/

    /*main-page*/
    /*first-container*/
    .search-title h1
    {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .search-title p
    {
        font-size: 14px;
        margin-bottom: 20px;
    }
    
    /*search-bar*/
    #search-bar
    {
        display: inline-flex;
    }

    .search-bar-icon
    {
        background-color: #F2F2F2;
        padding: 10px 15px;
        border-radius: 25% 0 0 25%;
    }

    #search
    {
        border-right: none;
        border-left: none;
        border-top: #F2F2F2 1px solid;
        border-bottom: #F2F2F2 1px solid;
        width: 200px;
        padding: 0 15px;
        font-weight: bold;
    }

    button
    {
        background-color: #0065FC;
        color: white;
        border: none;
        border-radius: 12px;
        width: 40px;
        font-size: 0px;
    }

    .search-icon
    {
        font-size: 14px;
    }
    /*search-bar*/

    /*filter*/
    .first-container
    {
        margin-left: 16px; 
    }

    .filter-container
    {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 15px;
    }

    .filter-container h2
    {
        display: flex;
        align-items: center;
        margin-right: 30px;
        font-size: 16px;
    }
    .filter
    {
        display: flex;
        align-items: center;
        border: 2px solid #F2F2F2;
        border-radius: 25px;
        margin: 0px 30px 10px 0px ;
    }

    .filter-icon
    {
        background-color: #DEEBFF;
        color: #0065FC;
        border-radius: 100%;
        padding: 14px 15px;
    }

    .filter-title
    {
        margin: 0 10px;
        font-weight: bold;
    }

    .filter-info
    {
        display: flex;
        align-items: center;
        font-size: 12px;
        margin: 10px 0 15px 0;
    }

    .info-icon
    {
        border: solid 1px #d9d9d9;
        color: #0065FC;
        font-size: 12px;
        padding: 6px 10px;
        border-radius: 100%;
        margin-right: 10px;
    }

    /*filter*/
    /* first-container*/

    /*second-container*/
    .second-container
    {
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
    }

    .most-popular-container
    {
        background-color: #F2F2F2;
        height: 570px;
        width: 100%;
        margin-left: 0;


    }

    .most-popular-title
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 18px;
        margin: 30px 16px 0px 20px;
    }

    .popular-card
    {
        border-radius: 15px 15px 15px 15px;
        margin: 10px;
    }

    .popular-card-figure
    {
        display: flex;
        background-color: white;
        border-radius: 15px;
        margin: 26px 0px 0px 8px ;
        padding: 7px;
        height: 120px;
        width: 90%;
        box-shadow: 0 0 20px #A9A9A9;
    }


    .popular-card-figure img
    {
        width: 45%;
        object-fit: cover;
        border-radius: 15px 0px 0px 15px;
    }

    .popular-card-title
    {
        font-size: 14px;
        margin: 8px 12px 0 12px;
    }

    .popular-price
    {
        font-size: 12px;
        margin: 8px 12px 4px 12px;
    }

    .popular-card-stats
    {
        font-size: 14px;
        margin: 36px 12px 4px 12px;
        color: #0065FC;
    }
    /*most-popular*/

    /*hosting*/
    .hosting-container
    {
        height: 1400px;
        width:100%;
        background-color: transparent;
    }

    .hosting-title
    {
        font-size: 20px;
        margin: 30px 16px 20px 20px;
    }

    .hosting-grid
    {
        background-color: transparent;
    }

    .hosting-card
    {
        
        display: flex;
        flex-direction: column;
    }

    .hosting-card-figure
    {
        width: 86%;
        margin: 0px 16px 20px 16px ;
        background-color: white;
        padding: 6px;
        border-radius: 15px;
        box-shadow: 0 0 20px #A9A9A9;
    }

    .hosting-grid img
    {
        height: 100px;
        width: 100%;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
    }

    .hosting-card-title
    {
        font-size: 16px;
        margin: 4px 12px 6px 12px;
    }

    .hosting-price
    {
        font-size: 14px;
        margin: 4px 12px 6px 12px;
    }

    .hosting-card-stats
    {
        font-size: 14px;
        margin: 0px 12px 4px 12px;
        color:#0065FC;
    }

    .show-more-link
    {
        margin: 30px 0px 30px 30px;
    }
    .show-more
    {
        font-weight: bold;
        font-size: 18px;
    }
    /*hosting*/

    /*third-container*/
    .third-container
    {
        display: flex;
        flex-direction: column;
        height: 1100px;
        margin: 0;
    }

    .activity-title
    {
        font-size: 20px;
        margin: 0px 20px 30px 30px;
    }

    .item
    {
        height: 150px;
        width: 90%;
        margin: 0px 16px 20px 16px;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0 0 20px g#A9A9A9;
    }

    .item img
    {
        height: 100px;
        width: 100%;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
    }

    .title-activity-card
    {
        font-size: 16px;
        margin: 10px 0px 10px 20px;
    }
    
    .first-column .first-item
    {
        height: 150px;
        width: 90%;
        margin: 0px 16px 20px 16px;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0 0 20px #A9A9A9;
    }

    .first-column .first-item img
    {
        height: 100px;
        width: 100%;
        border-radius: 15px 15px 0 0;
        object-fit: cover
    }

    .first-column .second-item
    {
        height: 150px;
        width: 90%;
        margin: 0px 16px 20px 16px;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0 0 20px #A9A9A9;
    }

    .first-column .second-item img
    {
        height: 100px;
        width: 100%;
        border-radius: 15px 15px 0 0;
        object-fit: cover
    }
    
    .second-column .first-item
    {
        height: 150px;
        width: 90%;
        margin: 0px 16px 20px 16px;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0 0 20px #A9A9A9;
    }

    .second-column .first-item img
    {
        height: 100px;
        width: 100%;
        border-radius: 15px 15px 0 0;
        object-fit: cover 
    }
    .second-column .second-item
    {
        height: 150px;
        width: 90%;
        margin: 0px 16px 20px 16px;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0 0 20px #A9A9A9;
    }

    .second-column .second-item img
    {
        height: 100px;
        width: 100%;
        border-radius: 15px 15px 0 0;
        object-fit: cover
    }
    /*third-container*/
    /*main-page*/
    
    /*footer*/
    footer
    {
        background-color: #F2F2F2;
    }
    
    .footer-container
    {
        display: flex;
        flex-direction: column;
        margin: 0;
        
    }
    
    .footer-container ul
    {
        list-style: none;
    }
    
    footer li a
    {
        text-decoration: none;
        color: black;
        font-weight: normal;
    }

    .footer-about
    {
        width: 100%;
        padding: 0px;
    }
    
    .footer-about-title
    {
        font-size: 18px;
        margin: 30px 10px 8px 40px;;
    }
    
    .list-about
    {
        list-style: none;
        line-height: 30px;
        width: 250px;
        font-size: 12px;
    }
    
    .footer-hosting
    {
        width: 100%;
        padding: 0px;
    }
    
    .footer-hosting-title
    {
        font-size: 18px;
        margin: 30px 10px 8px 40px;
    }
    
    .list-hosting
    {
        list-style: none;
        line-height: 30px;
        width: 250px;
        font-size: 12px;
    }
    
    .footer-assistance
    {
        width: 100%;
        padding: 0px;
    }
    
    .footer-assistance-title
    {
        font-size: 18px;
        margin: 30px 10px 8px 40px;
    }
    
    .list-assistance
    {
        list-style: none;
        line-height: 30px;
        width: 250px;
        font-size: 12px;
    }
    /*footer*/
} 